body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #232f3e;
}

.employee-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-table th, .employee-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.employee-table th {
    background-color: #232f3e;
    color: white;
}

.employee-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.employee-table tr:hover {
    background-color: #eaeaea;
}
